body {
    margin: 300px auto;
    margin-bottom: 0    ;
    padding: 20px 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: sans-serif;
    width: 950px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(52, 152, 219, 0.5);
}

.playing-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.cart {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px 1px #999;
}

.cart:active .his-lines,
.user-scores,
.computer-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    font-size: 18px;
    color:gray;
}
.cart:hover {
    background-color: #3e8e41;
}
.cart:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px); 
}

h1 {
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.his {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.score-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.his-title {
    display: flex;
    justify-content: center;
}

.scores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.his-lines,
.user-scores,
.computer-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    font-size: 18px;
    color:gray;
}

.his-lines {
    max-height: 100px;
    overflow: auto;
    }

.history-container {
    width: 500px;
}
.score-container {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media screen and (max-width: 768px) {
    body {
        margin: 100px auto;
        width: 90%;
        padding: 10px;
    }

    .playing-buttons {
        flex-direction: column;
        gap: 10px;
    }

    .cart {
        width: 100%;
        padding: 10px;
        font-size: 20px;
    }

    .history-container, .score-container {
        width: 100%;
    }

    .his-lines, .user-scores, .computer-scores {
        width: 100%;
        font-size: 16px;
    }

    h1 {
        font-size: 24px;
    }
}

@media screen and (max-width: 450px) {
    body {
        margin: 50px auto;
        width: 95%;
        padding: 5px;
    }

    .cart {
        padding: 8px 16px;
        font-size: 16px;
    }

    .history-container, .score-container {
        width: 100%;
    }

    .his-lines, .user-scores, .computer-scores {
        width: 100%;
        font-size: 14px;
    }

    .intro, .cta {
        font-size: 1em;
    }

    h1 {
        font-size: 20px;
    }
}

