body {
    margin: 300px auto;
    padding: 20px 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: sans-serif;
    width: 950px;
    box-shadow: 2px 2px 30px rgba(43, 19, 130, 0.5);
}

.playing-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.cart {
    font-size: 24px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 10px 15px;
    box-shadow: inset 2px 1px 3px rgba(0,0,0,0.1);
}
h1 {
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.his {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.score-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.his-title {
    display: flex;
    justify-content: center;
}

.scores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.his-lines,
.user-scores,
.computer-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    font-size: 18px;
    color:gray;
}

.history-container {
    width: 500px;
}
.score-container {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
