body {
    margin: 100px auto;
    margin-bottom: 0    ;
    padding: 20px 0px;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-family: sans-serif;
    width: 950px;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(52, 152, 219, 0.5);
}

/* BUTTONS */
.playing-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    margin-bottom: 20px;
}

.playing-buttons img {
    height: 50px;
}

.cart {
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
    background-color: #82E0AA;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px 1px #999;
}

.cart:active .his-lines,
.user-scores,
.computer-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    font-size: 18px;
    color:gray;
}
.cart:hover {
    background-color: #3e8e41;
}
.cart:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px); 
}

/* RESULT SECTION */
.result-section {
    position: relative;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.computer-move-title, .user-move-title {
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 28px;
    color: #5DADE2;
}

.computer-move-title{
    color: #839192;
}

.result {
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    top: 100px;
}

.user-section, .computer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-section{
    margin-left: 30px;
}

.computer-section {
    margin-left: 60px;
}

.user-avatar , .computer-avatar {
    height: 50px;
    width: 50px;
    margin-bottom: 10px;
}

.result-move-icon {
    height: 100px;
    width: 100px;
}



/* HISTORIES AND SCORES */
h1 {
    margin: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.his {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.history-container {
    width: 500px;
}

.score-container {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.score-title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.his-title {
    display: flex;
    justify-content: center;
}


.his-lines,
.user-scores,
.computer-scores {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
    font-size: 18px;
    color:gray;
}

.his-lines {
    max-height: 150px;
    overflow: auto;
    }

.move-icon {
    width: 30px; 
    height: 30px;
}

.result-icon {
    width: 30px;
    height: 30px;
    display:inline-block;
    margin-left:10px;
    align-items:center;
}
